Client/Connected Services/ServiceDatabase/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataBase_Kosta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TestTaskKost_WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataBase_Kosta_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IDataBase_Kosta_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBase_Kosta_SetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEmployees" />
  </wsdl:message>
  <wsdl:message name="IDataBase_Kosta_SetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataBase_Kosta">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBase_Kosta/GetEmployees" message="tns:IDataBase_Kosta_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase_Kosta/GetEmployeesResponse" message="tns:IDataBase_Kosta_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBase_Kosta/SetEmployees" message="tns:IDataBase_Kosta_SetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBase_Kosta/SetEmployeesResponse" message="tns:IDataBase_Kosta_SetEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataBase_Kosta" type="tns:IDataBase_Kosta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IDataBase_Kosta/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmployees">
      <soap:operation soapAction="http://tempuri.org/IDataBase_Kosta/SetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataBase_Kosta">
    <wsdl:port name="BasicHttpBinding_IDataBase_Kosta" binding="tns:BasicHttpBinding_IDataBase_Kosta">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/TestTaskKost_WCF/DataBase_Kosta/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>