Client/Connected Services/ServiceDatabase/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestTaskKost_WCF" />
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNameSearch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastNameSearch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymucSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestTaskKost_WCF" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q1:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNameSearch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastNameSearch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymuc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="biarchDay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEmployeesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>